
    <div class="layer">
        <img src="${require('../../assets/aaa.jpg' )}" />
        <div>this is   <%= name %>'s layer </div>
        <% for(var i = 0; i < arr.length; i++ ){%>
            <%= arr[i] %>
        <%}%>
    </div>